:root {
    --color1: #4b4276;
    --color2: white;
    --color3: #5C718E;
    --color4: #DFDCB9;
    --color5: #3E4E5F;
    --color6: #F3F4EA;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}


header {
    display: flex;
    color: var(--color4);
}

.header_text_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color3);
}

.picture {
    width: 200px;
}

section {
    display: flex;
}

div#sidebar {
    background-color: var(--color4);
    height: 100vh;
    padding: 2em 1em;
    text-align: left;
    left: 0;
    width: 20%;
    
}

.global_content {
    width: 80%;
    position: absolute;
    right: 0;
    height: 100%;
    background: var(--color5);
    color: var(--color2);
}

.sus_content {
    background: var(--color3);
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

.global_content_title {
    text-align: center;
    margin: 0 auto 15px;
    padding: 15px auto;
    background: var(--color4);
    color: var(--color3);
}

div#sidebar a {
    color: var(--color3);
    transition: all .5s;
    line-height: 2em;
}

div#sidebar a:hover {
    padding-left: 1.2em;
    color: var(--color1);
    background-color: var(--color2);
}

footer {
    background: var(--color3);
    padding: 20px 0;
    text-align: center;
    color: var(--color4);
}